/*- Custom style -*/
audio { width: 100%; }
#search li { list-style: none; }
.post.search:before { margin: 0 auto; height: 0; }

a {
	text-decoration: underline;
}

#posts h2 a {
	text-decoration: none;
}
